<app-navbar></app-navbar>


  <!-- THIS IS WHERE STORIES WOULD GO -->
  <div class="card bg-light mb-3" style="max-width: 100rem;" id="storyholder">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>


      



    </div>
  </div>


  <!-- THIS IS WHERE YOU WRITE A POST -->

  <div class="center">
     <form class="form-group">
       <div class="mb-3">
         <input
           type="email"
           class="form-control"
           id="exampleInputText1"
           placeholder="Post"
           required
 
           
         />
         <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
       </div> 
 
       
       <!-- THIS IS A POST BUTTON -->
         <div class="col-12">
              <button type="button" class="btn">
                 <i class="fa-solid fa-location-arrow fa-2x" aria-hidden="true"></i>
             </button>
     
               <button type="button" class="btn">
                 <i class="fa-solid fa-image fa-2x" aria-hidden="true"></i>
          
              </button>
 
         </div>
         
       
     </form>
 </div>
 
 <!-- THIS HERE DOWNWARD IS A CARD THAT WILL HOLD ALL POSTS -->




<!-- POST CARD -->
<div class="postcard" >
  <mat-card class="mat-elevation-z4">
    <div class="col-12">
      
    </div>

     <div class="row" >
              <div class="col-4">
                <img
                  class="pp2"
                  src="https://res.cloudinary.com/dadevelopers/image/upload/v1656276676/profile/hd7so6ee6c2yahhjx63s.jpg"
                  alt="none"
                />
              </div>
              <div class="col-8" id="unamee">
                <h3 class="uname">USER NAME</h3>
              </div>
            </div>
    <mat-card-content>
      <p>
        User status or post will be written here. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, fuga? Culpa pariatur possimus qui voluptatem nam modi fugiat laboriosam a quos nemo sequi, ipsum adipisci autem facilis aperiam blanditiis minima.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>






