 
.center {
  width: 100%;
  padding: 20px;
}


.uname{
  margin-top: 32px;

}
.mb-3 input {
  padding-left: 40px;
  border: 1px solid #36cdaf;
  border-radius: 20px;
  background: rgba(216, 236, 204, 0.2);
}

.mb-3 {
  position: relative;
  text-align: center;
  width: 100%;
 

  
}

.mb-3 i {
  position: absolute;
  left: 5px;
  top: 8px;
  padding: 9px 8px;
  color: #0d382f;
}


h6{
    padding-bottom: 3%;
}

.btn1{
    background-color: #36cdaf;
    margin:auto;
    border: none;
    width:40%;
    height: 20%;
    border-radius: 50px;
    font-weight: bold;
}
.btn2{
  background-color: #36cdaf;
  border: none;
  margin:auto;
  width:40%;
  height: 20%;
  border-radius: 50px;
  font-weight: bold;
}


.col-12{
  
  justify-content: center;
  margin-left: 10%;
  padding:10px;

}
.btn i{
  margin: auto;
}


#storyholder{
  width: 100%;
  padding: 20px;
  text-align: center;
}


.postcard{
      margin: auto;
      width: 100%;
      padding: 20px;
}

.mat-elevation-z4{
  margin: auto;
  padding: 10px;
  background-color: #E8F4E1;
}

.matpp{
    border-radius: 50%;
    width: 100px;
   
    margin-left: 10px ;
}

.profilepicture{
  background-color: #0d382f;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #36cdaf;
  flex-direction: row;
}


// USER PROFILE CARDS


.pp2 {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  // margin-left: 40px;
}



#btnpost{
  background-color: #36cdaf;
  width: 100%;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#btnpost1{
  background-color: #36cdaf;
  width: 100%;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
}