#post input{
  width: 60%;
}
#profileName{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem 1rem;
  height: 100px;
}

// #avatar{
//   height: 100px;
// }

figure{
  height: 350px;
}

figure img{
  height: 350px;
  width: 100%;
}

#post{
  justify-content: center;
}

#wel{
  font-size: 80px;
}

#click{
  color: purple;
}

#mess{
  font-size: 30px;
  text-align: center;
}

#added{
  margin-bottom: 10px;
}

#username{
  cursor: pointer;
}

#caption{
  max-height: 70px !important;
  overflow: scroll;
}

#post1{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.btn
{
  background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
  outline: none;
}
h1{
  text-align: center;
  font-weight: bold;
}

#caption{
  margin-top: 10px;
  margin-bottom: 10px;
}
