
<app-navbar></app-navbar>
  <!-- THIS IS WHERE YOU WRITE A POST -->
<div class="container py-5">
  <div class="inside">
  <div class="center">
     <form class="form-group"[formGroup]="form">
       <div class="mb-3">
         <input
           type="email"
           class="form-control"
           id="exampleInputText1"
           placeholder="Post"
           required
           formControlName="message"
           
         />
         <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
       </div> 
 
       
       <!-- THIS IS A POST BUTTON -->
       <div class="row">
        <div class="col-6">
          <button class="btn justify-end" id="btnpost" (click)="post()">
            <i class="fa-solid fa-location-arrow fa-2x"></i>
          </button>
        </div>
        <div class="col-6">
          <button class="btn" id="btnpost" (click)="addImage()">
            <i class="fa-solid fa-image fa-2x"></i>
          </button>
        </div>
        <!---->
       </div>
       
     </form>
     <div class="d-flex flex-column mb-4"></div>
 <h1>RECENT FEEDS </h1>
 <div class="d-flex flex-column mb-4"></div>
 <!-- POST CARD -->
 <div class="card">
  <div class="row sm-4">
    <div class="col-2">
      <label tabindex="0" class="btn btn-circle avatar">
        <div class="w-15 rounded-full">
          <img src="https://placeimg.com/80/80/people" />
        </div>
      </label>
    </div>
    <div class="col-9 b">
      <p class="uname">Belco Sambo</p>
    </div>

  </div>
 
 <div class="postcard">
  
  <div class ="row"></div>
   <h2>Text status</h2>
   <mat-card class="mat-elevation-z4" *ngFor="let posts of posting" class="cardpost">
   <mat-card-header>
               <mat-card-title>
                 <h3 class="uname">{{posts.name}}</h3>
               </mat-card-title>
               <mat-card-subtitle>{{posts.date}}</mat-card-subtitle>
             </mat-card-header>
     <mat-card-content class="stat">
     
        {{posts.message}}
     
     </mat-card-content>
     <mat-card-actions>
       <button mat-button class="b"><i class="fa-regular fa-heart"></i></button>
       <button mat-button class="b"><i class="fa-regular fa-message"></i></button>
     </mat-card-actions>
   </mat-card>
   <hr>
 </div>
 
 <h2>Pictures status</h2>
 <div class="content">
   <div fxLayout="row wrap" fxLayoutGap="16px grid">
     <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
     <mat-card class="mat-elevation-z4"  *ngFor="let posts of imgpost" class="dev">
       <mat-card-header>
             <mat-card-title>
             {{posts.name}}
           </mat-card-title>
           <mat-card-subtitle>
             {{posts.date}}
             <hr>
             {{posts.caption}}
           </mat-card-subtitle>
           
       </mat-card-header>
       <mat-card-content>
         
         <img
       
           class="profpost"
           src= '{{posts.image}}'
           alt="pictures"
         />
       </mat-card-content>
         <mat-card-actions>
           <button mat-button class="b"><i class="fa-regular fa-heart"></i></button>
           <button mat-button class="b"><i class="fa-regular fa-message"></i></button>
         </mat-card-actions>
       
     </mat-card>
     <hr>
   </div>
   </div>
 </div>
 </div>
 </div>
 </div>
 
 <!-- THIS HERE DOWNWARD IS A CARD THAT WILL HOLD ALL POSTS -->



 


</div>  


