#post input{
  width: 73%;
}
#post{
  justify-content: center;
}

#post1{
  margin: auto;
  margin-bottom: 10px;
  justify-content: center;
  width: 82%;
}

h1{
  text-align: center;
  font-weight: bold;
}

#caption{
  margin-top: 10px;
  margin-bottom: 10px;
}
