<!-- <div class="container-fluid row-auto col-auto container-sm container-md container-lg container-xl align-content-center">
    <div class="logo">
      <img class="logo2"
        src="https://res.cloudinary.com/dadevelopers/image/upload/v1656314804/profile/rc2ubumybq3fwyxwuv34.png"
        alt=""
      />
    </div>
    <div class="center">
      <form class="form-group" [formGroup]="form">
        <h6>Let's Log You In</h6>
  
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="exampleInputText1"
            placeholder="Email"
            formControlName="email"
            required
          />
          <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>

          <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
            <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
        </div>
  
        </div>
  
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            id="exampleInputText1"
            placeholder="Password"
            formControlName="password"
            required
          />
          <i class="fa fa-lock fa-lg" aria-hidden="true"></i>

          <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
            <div *ngIf="f['password'].errors && f['password'].errors['required']">password is required.</div>
            <div *ngIf="f['password'].errors && f['password'].errors['password']">Please, enter valid password.</div>
    
            <div *ngIf="f['password'].dirty && f['password'].errors">Please, password should be 8 characters and more.</div>
        </div>
    
        </div>
      </form>
      <button type="submit" class="btn" (click)="log()">LOGIN</button>
  
    <p class="pr">Don't have an account? <a [routerLink]="['/register']"  class="goLogin">Register</a></p>
  </div> -->

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">
        Let's communicate and have fun inside Socialite
      </p>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
       
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="text" placeholder="email" class="input input-bordered" />
  
        
          <label class="label">
            <span class="label-text">Password</span>
          </label>
          <input
            type="text"
            placeholder="password"
            class="input input-bordered"
          />
          <label class="label">
            <a href="#" class="label-text-alt link link-hover"
              >Forgot password?</a
            >
          </label>
   
  
          <button class="btn btn-primary" id="btn">Login</button>
 

     
          <p class="text">
            Do not have an account,<a class="link link-hover" routerLink="/register">Register</a>
          </p>
    
      </div>
    </div>
  </div>
</div>
