<div class="container-fluid">
    <div class="logo">
      <img
        src="https://res.cloudinary.com/dadevelopers/image/upload/v1656314804/profile/rc2ubumybq3fwyxwuv34.png"
        alt=""
      />
    </div>
    <div class="center">
      <form class="form-group">
        <h6>Let's Log You In</h6>
  
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="exampleInputText1"
            placeholder="Email"
            required
          />
          <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
        </div>
  
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            id="exampleInputText1"
            placeholder="Password"
            required
          />
          <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
        </div>
      </form>
      <button type="button" class="btn">LOGIN</button>
  
    <p class="pr">Already have an account? <a [routerLink]="['/register']"  class="goLogin">Register</a></p>
  </div>