.logo img {
  margin-left: 25%;
  width: 50%;
  padding: 10px;
  margin-top: -5%;
}



.center {
  margin: auto;
  width: 90%;
  padding: 10px;
  text-align: center;
}

.mb-3 input {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #36cdaf;
  border-radius: 20px;
  background: rgba(216, 236, 204, 0.2);
}

.mb-3 {
  position: relative;
}

.mb-3 i {
  position: absolute;
  left: 5px;
  top: 22px;
  padding: 9px 8px;
  color: #0d382f;
}

.mb-3 input:focus + i {
  color: #36cdaf;
}

h6 {
  padding-bottom: 90px;
  font-size: 20px;
  padding-top: 50px;
}

.btn {
  margin-top: 90px;
  background-color: #301848;
  width: 100%;
  border-radius: 20px;
  font-weight: bold;
  height: 70px;
  color: white;
  margin-bottom: 20px;
}

.goLogin {
  color: #36cdaf;
  text-decoration: none;
  font-weight: bold;
}

.pr {
  text-align: center;
  padding-top: 3%;
}
@media (min-width: 1200px) {
  .logo{
    width: 40%;
    margin-left: 29%;
  }
  
}