.logo{
  margin-left: 37%;
  width: 25%;
  padding: 10px;
  margin-top: -5%;
}


.center {
  margin: auto;
  width: 90%;
  padding: 10px;
  text-align: center;
}


.mb-3 input {
  padding-left: 40px;
  border: 1px solid #36cdaf;
  border-radius: 20px;
  background: rgba(216, 236, 204, 0.2);
}

.mb-3 {
  position: relative;
}

.mb-3 i {
  position: absolute;
  left: 5px;
  top: 1px;
  padding: 9px 8px;
  color: #0d382f;
}

.mb-3 input:focus + i {
  color: #36cdaf;
}

h6{
    padding-bottom: 3%;
}

.btn{
    margin-top: 3%;
    background-color: #36cdaf;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
}

.goLogin{
    color: #36cdaf;
    text-decoration: none;
    font-weight: bold;
}

.pr{
    text-align: center;
    padding-top: 3%;
}

// @media screen and (max-width: 450px) {
//   .btn {
//     margin-top: 30%;
//     background-color: #36cdaf;
//     width: 326px;
//     height: 67px;
//     border-radius: 20px;
//     margin-left: -5%;
//     font-weight: bold;
//   }

//   .center {
//     margin: auto;
//     width: 90%;
//     margin-top: 40%;
//     padding: 10px;
//     text-align: center;
//   }

//   .logo{
//     margin-left: 15%;
//     width: 70%;
//     height: 10%;
//     padding: 10px;
//     margin-top: -10%;
//   }

//   .mb-3 input {
//     padding-left: 40px;
//     border: 1px solid #36cdaf;
//     border-radius: 20px;
//     background: rgba(216, 236, 204, 0.2);
//     width: 325px;
//     height: 58px;
//     margin-left: -5%;
//   }

//   .mb-3 i {
//     position: absolute;
//     left: -15%;
//     right: 79.21%;
//     top: 20%;
//     bottom: 39.31%;
//     color: #0d382f;
//   }

//   h6{
//     margin-top: -50%;
//   }
// }
