.logo{
  margin-left: 26.5%;
  width: 45%;
  padding: 10px;
  margin-top: -5%;
}

.logo2{
  height: 40%;
}

.center {
  margin: auto;
  width: 90%;
  padding: 10px;
  text-align: center;
  height: 100%;
}


.in input {
  border: 1px solid #301848;
  border-radius: 20px;
  background: #f4f3f000;
  width: 100%;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.in {
  position: relative;
  height: 50%;
}

.in i {
  position: absolute;
  left: 5px;
  top: 21px;
  padding: 9px 8px;
  color: #301848;
  height: 100%;
}

.in input:focus + i {
  color: #a84890;
}

h6{
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 20px;
}

.btn{
    margin-top: 50px;
    background-color: #301848;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

.goLogin{
    color: #301848;
    text-decoration: none;
    font-weight: bold;
}

.pr{
    text-align: center;
    padding-top: 3%;
}

@media (min-width: 1200px) {
  .logo{
    width: 30%;
    margin-left: 34%;
  }
  
}

// @media (mi) and (max-width: 450px) {
//   .btn {
//     margin-top: 30%;
//     background-color: #36cdaf;
//     width: 326px;
//     height: 67px;
//     border-radius: 20px;
//     margin-left: -5%;
//     font-weight: bold;
//   }

//   .center {
//     margin: auto;
//     width: 90%;
//     margin-top: 40%;
//     padding: 10px;
//     text-align: center;
//   }

//   .logo{
//     margin-left: 15%;
//     width: 70%;
//     height: 10%;
//     padding: 10px;
//     margin-top: -10%;
//   }

//   .mb-3 input {
//     padding-left: 40px;
//     border: 1px solid #36cdaf;
//     border-radius: 20px;
//     background: rgba(216, 236, 204, 0.2);
//     width: 325px;
//     height: 58px;
//     margin-left: -5%;
//   }

//   .mb-3 i {
//     position: absolute;
//     left: -15%;
//     right: 78%;
//     top: 23%;
//     bottom: 40%;
//     color: #0d382f;
//   }

//   h6{
//     margin-top: -50%;
//   }

//   .mb-3 {
//     position: relative;
//   }
// }
