<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand"><i id="icon" class="fa fa-arrow-left"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-md-center"
        id="collapsibleNavbar"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/newsfeed">Newsfeed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/users">Users</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">Users</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  