.navbar 
{
  background-color:white
}
h3{
  text-align: center;
}

.lite{
  color: #67c1c4;
  font-family: monospace;
}

#lite{
  font-family:'Courier New', Courier, monospace;
}

#txtLogin{
  color: #67c1c4;
  text-decoration: none;
}

#btn{
  margin-top: 40px;
  margin-bottom: 30px;
  background: rgba(46, 43, 69, 0.2);
}