
h3{
  text-align: center;
}

.lite{
  color: #67c1c4;
  font-family: monospace;
}

.lite{
  color:rgba(183,49,223,1);
    font-family: monospace;
}

.navbar{
 // background-color: #020024;
  
}
#txtLogin{
  color: #67c1c4;
  text-decoration: none;
}
#lite{
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(250, 25, 182);
}
#btn{
  margin-top: 40px;
  margin-bottom: 30px;
  background: rgba(46, 43, 69, 0.2);
}
.img
{
  width: 15vw;
  height: 15vh;
}
