.lite{
  color:rgba(183,49,223,1);
    font-family: monospace;
}

#lite{
    font-family:'Courier New', Courier, monospace;
    text-align:left;
    color: rgba(172,52,137,1);
}
.text-5xl font-bo{
color:#b731df;
}
#textt{
  color:white;
  font-size: 20;
}

#txtLogin{
  color:#a325c9;
    text-decoration: none;
  }

  #btn{
    margin-top: 40px;
    margin-bottom: 30px;
    color: white;
  }
  .btn
  {
    background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
    margin-left:43%;
    margin-right:35%;
  }
.landingtxt{
  color:#b731df;
  text-align:left;
}