<!-- <div class="container-fluid">
    <img
      class="imag"
      src="https://res.cloudinary.com/dadevelopers/image/upload/v1656314804/profile/rc2ubumybq3fwyxwuv34.png"
      alt="..."
    />
<button type="button" class="btn" [routerLink]="['/register']" >
    GETTING STARTED
  </button>

</div>
 -->

 <div class="hero min-h-screen bg-base-200 ss">
  <video id="vid" width="100%" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../../../assets/videon.mp4" type="video/mp4">
  </video>
  <div class="hero-content flex lg:flex-row-reverse">
    
    <div id="landingtxt">
      <h1 class="text-6xl font-bold ll" id="lite">
        
        Socia<a class="lite">lite</a>
      </h1>
      <div class="py-9" id="textt">
        Hello there, want to get in touch with friends and family , <a routerLink="/register" id="txtLogin"> register</a> and
        be in touch with them, invite them if they are not registered.
      </div>

     
      <button class="btn" routerLink="/login" id="btn">Get Started</button>
    </div>
  </div>
</div>
