#post input{
  width: 60%;
}

#avatar{
  margin-left: 30px;
}
#caption{
  max-height: 70px !important;
  overflow: scroll;
}

#added{
  margin-bottom: 10px;
}

#post1{
  margin-bottom: 20px;
}

#cent{
  margin-left: 30px;
}

.btn
{
  background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
  outline: none;
}

#post{
  width: 100%;
  justify-content: center;
}

h1{
  text-align: center;
  font-weight: bold;
}

#caption{
  margin-top: 10px;
  margin-bottom: 10px;
}


.number {
    padding-left: 20px;
    text-decoration: none;
    color: #36cdaf;
  }

  #cards{
    width: 100%;
    justify-content: center;
    padding-top: 20px;
  }

  
  .pp {
    height: 70%;
    width: 100%;
    border-radius: 20px;
    // text-align: center;
    // float: left;
    display: inline-block;
    padding: 5px;
  }

  #cent{
    margin-top: 14px;
    text-align: center;
  }
  #cents{
    margin-top: 14px;
    text-align: center;
  }
  
  
  .hea {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: xx-large;
  }
 