#avatar{
  width: 100%;
 outline: none;
}
.naa{
//justify-content: center;
}
#hea{
  text-align: center;
  font-size: larger;
} 
.card-body{
  justify-content: center;
}
.hea
{ 
  margin-bottom: 20px;
  text-align: center;
  font-size: larger;
}