<app-navbar></app-navbar>
<!---->
<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center ppc" data-theme="night"
>
  <h2 class="hea">My Profile</h2>
  <div class="card w-13 glass  s">
    <figure class="w-96 bg-base-100 rounded-full"><img src="https://placeimg.com/400/225/arch" alt="car!"></figure>
    <div class="card-body">
      <h2 class="card-title">Life hack</h2>
      <p>How to park your car at your garage?</p>
      <div class="card-actions justify-end">
        <button class="btn">Learn now!</button>
      </div>
    </div>
  </div>
  <div class="profile">
    <div
      class="align-content-center container-sm container-md container-lg container-xl align-content-center pp" >
      <div class="row s">
      
          <label tabindex="0" class="btn btn-circle avatar">
            <div class="w-96 bg-base-100 rounded-full">
              <img src="https://placeimg.com/80/80/people" />
            </div>
          </label>
         <!--<div class="col-9 b">
            <p class="uname">Belco Sambo</p>
          </div>--> 
        </div>

        <div class="col-4">
          <p class="uname">{{ name }}</p>
      </div>
    </div>
  </div>
</div>

<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center ppc"
>
  <div
    class="ontainer-sm container-md container-lg container-xl align-content-center ppp"
  >
    <div class="follow">
      <p class="follow1">Followers <a class="number">123</a></p>
    </div>
    <div class="follow">
      <p class="follow1">Following <a class="number">132</a></p>
    </div>
    <div class="follow2">
      <button type="button" class="btn" id="btn">
        <i class="fa fa-file-pen"></i>
      </button>
    </div>
  </div>
</div>

<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center ppm"
>
  <form [formGroup]="form">
    <input
      type="text"
      name="post"
      id="post"
      placeholder="Post"
      formControlName="message"
    />
    <i class="fa-solid fa-pen"></i>
  </form>

  <!-- 
  <i class="fa-solid fa-paper-plane-top"></i> -->
</div>

<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center send"
>
  <div class="row">
    <div class="col-6">
      <button class="btn" id="btnpost" (click)="post()">
        <i class="fa-solid fa-location-arrow fa-2x"></i>
      </button>
    </div>
    <div class="col-6">
      <button class="btn" id="btnpost" (click)="addImage()">
        <i class="fa-solid fa-image fa-2x"></i>
      </button>
    </div>
  </div>
</div>

<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center send"
>
<h2>Pictures status</h2>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let posts of imgpost">
    <mat-card
      class="mat-elevation-z4"
     
      id="cardpost"
    >
      <mat-card-header>
        <mat-card-title>
          {{ posts.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ posts.date }}
          <hr />
          
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      {{ posts.caption }}
        
        <img class="profpost" src="{{ posts.image }}" alt="pictures" />
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="b"><i class="fa-regular fa-heart"></i></button>
        <button mat-button class="b"><i class="fa-regular fa-message"></i></button>
      </mat-card-actions>
    </mat-card>
    <hr />
  </div>
</div>

  <h2>Text status</h2>
  <!-- POST CARD -->
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.lg="100%" *ngFor="let posts of posting">
    <mat-card
      class="mat-elevation-z4"
      
      id="cardpost"
    >
      <mat-card-header>
        <mat-card-title>
          <h3 class="uname">{{ posts.name }}</h3>
        </mat-card-title>
        <mat-card-subtitle>{{ posts.date }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="stat">
        {{ posts.message }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="b"><i class="fa-regular fa-heart"></i></button>
        <button mat-button class="b"><i class="fa-regular fa-message"></i></button>
      </mat-card-actions>
    </mat-card>
    <hr />
  </div>
</div>