#post input{
  width: 73%;
}
#post{
  justify-content: center;
  
}

#post1{
  margin: auto;
  margin-bottom: 10px;
  justify-content: center;
  width: 87%;
  background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
  
}
.btn
{
  background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
}
#btn
{
 // background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
}
h1{
  text-align: center;
  font-weight: bold;
}

#caption{
  margin-top: 10px;
  margin-bottom: 10px;
}


.number {
    padding-left: 20px;
    text-decoration: none;
    color: #36cdaf;
  }

  #cards{
    width: 100%;
    justify-content: center;
    padding-top: 20px;
  }

  
  .pp {
    height: 70%;
    width: 100%;
    border-radius: 20px;
    // text-align: center;
    // float: left;
    display: inline-block;
    padding: 5px;
  }

  #cent{
    margin-top: 14px;
    text-align: center;
  }
  #cents{
    margin-top: 14px;
    text-align: center;
  }
  
  
  .hea {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: xx-large;
  }
  
//   .uname {
//     text-align: left;
//     // padding: 0px;
//     margin-top: 30px;
//     font-size:20px;
//     font-weight: bold;
//     // margin-left: 36%;
//     // margin-bottom: 10%;
//   }
//   .dev{
//     margin-bottom: 20px;
//   }
//   .postcard mat-card{
//     margin-top: 30px;
//     width: 100%;
//     margin-bottom: 30px;
// }
// mat-card{
//   background-color: #E8F4E1;
// }

// .stat{
//   margin-left: 18px;
// }

// #cardpost{
//   margin-bottom: 20px;
// }

// #file{
//   visibility: hidden;
//   flex-direction: column;
// }
// h2{
//   text-align: center;
//   font-weight: bold;
//   margin-top: 40px;
//   font-size: 30px;
// }

// .b{
//   width: 5px;
// }



//   // @media (max-width: 470px) {
//   //   .uname {
//   //     text-align: center;
//   //     padding: 10px;
//   //     margin-top: -25%;
//   //     font-size: 20px;
//   //     font-weight: bold;
//   //     margin-left: 22%;
//   //   }
  
//   //   .pp2 {
//   //     width: 30%;
//   //     height: 30%;
//   //     border-radius: 100%;
//   //     margin-top: 10%;
//   //   }
//   // }
  
//   // @media (min-width: 471px) and (max-width: 996px) {
//   //   .uname {
//   //     padding: 0px;
//   //     margin-top: -19%;
//   //     font-size: 35px;
//   //     font-weight: bold;
//   //     margin-left: 20%;
//   //   }
  
//   //   .pp2 {
//   //     width: 30%;
//   //     height: 30%;
//   //     border-radius: 100%;
//   //     margin: 15px 15px 15px 15px;
//   //   }
//   // }
  
//   // @media (min-width: 250px) and (max-width: 361px) {
//   //   .uname {
//   //     text-align: center;
//   //     padding: 10px;
//   //     margin-top: -42%;
//   //     font-size: 15px;
//   //     font-weight: bold;
//   //     margin-left: 30%;
//   //   }
//   //   .pp2 {
//   //     width: 30%;
//   //     height: 30%;
//   //     border-radius: 100%;
//   //     margin-bottom: 20%;
//   //   }
//   // }
  
//   // @media (min-width: 768px) {
//   //   #icon {
//   //     visibility: hidden;
//   //   }
//   // }
  
//   // @media (min-width: 280px) and (max-width: 450px) {
//   //   .follow1 {
//   //     padding-right: 20px;
//   //     margin-top: 20px;
//   //     font-weight: bold;
//   //     font-size: 58%;
//   //   }
  
//   //   .btn {
//   //     margin-top: 9%;
//   //     height: 10%;
//   //     background-color: #36cdaf;
//   //     width: 90%;
//   //     border-radius: 20px;
//   //     margin-left: 50%;
//   //     font-weight: bold;
//   //     margin-top: 18%;
//   //   }
//   // }
  
