<app-navbar></app-navbar>
<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center ppc"
>
  <h2 class="hea">My Profile</h2>
  <div class="profile">
    <div
      class="align-content-center container-sm container-md container-lg container-xl align-content-center pp"
    >
      <div class="row">
        <div class="col-4">
          <img
            class="pp2"
            src="https://res.cloudinary.com/dadevelopers/image/upload/v1656276676/profile/hd7so6ee6c2yahhjx63s.jpg"
            alt="none"
          />
        </div>
        <div class="col-4">
          <p class="uname">{{name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center ppc"
>
  <div
    class="ontainer-sm container-md container-lg container-xl align-content-center ppp"
  >
    <div class="follow">
      <p class="follow1">Followers <a class="number">123</a></p>
    </div>
    <div class="follow">
      <p class="follow1">Following <a class="number">132</a></p>
    </div>
    <div class="follow2">
      <button type="button" class="btn" id="btn">
        <i class="fa fa-file-pen"></i>
      </button>
    </div>
  </div>
</div>

<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center ppm"
> <form [formGroup]="form" >
  <input type="text" name="post" id="post" placeholder="Post" formControlName="message"/>
  <i class="fa-solid fa-pen"></i>
</form>
 
<!-- 
  <i class="fa-solid fa-paper-plane-top"></i> -->
</div>

<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center send"
>
  <div class="row">
    <div class="col-6">
      <button class="btn" id="btnpost" (click)="post()">
        <i class="fa-solid fa-location-arrow fa-2x"></i>
      </button>
    </div>
    <div class="col-6">
      <button class="btn" id="btnpost" (click)="addImage()">
        <i class="fa-solid fa-image fa-2x"></i>
      </button>
    </div>
  </div>
</div>


<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center send"
>
<h2>Pictures status</h2>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
      <mat-card  *ngFor="let posts of imgpost">
        <mat-card-header>
              <mat-card-title>
              {{posts.name}}
            </mat-card-title>
            <mat-card-subtitle>
              {{posts.date}}
            </mat-card-subtitle>
            {{posts.caption}}
        </mat-card-header>
        <mat-card-content>
          
          <img
        
            class="profpost"
            [src]= 'posts.imgurl'
            alt="posts"
          />
        </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        
      </mat-card>
      
    </div>

  </div>
</div>

<h2>Text status</h2>
<!-- POST CARD -->
<div class="postcard">
  <mat-card class="mat-elevation-z4" *ngFor="let posts of posting">
  <mat-card-header>
              <mat-card-title>
                <h3 class="uname">{{posts.name}}</h3>
              </mat-card-title>
              <mat-card-subtitle>{{posts.date}}</mat-card-subtitle>
            </mat-card-header>
    <mat-card-content class="stat">
    
       {{posts.message}}
    
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <hr>
</div>

