.number {
    padding-left: 20px;
    text-decoration: none;
    color: #cda736;
  }
 
  .form-group {
    padding-left: 40px;
    border: 1px solid #cd363d;
    border-radius: 20px;
    background: rgba(216, 236, 204, 0.2);
  }
  
  .ppm input{
    border: 1px solid #4d36cd;
    background-color: rgba(216, 236, 204, 0.2);
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    border-radius: 100px;
    height: 50px;
    margin-top: 9px;
  }

  .ppm i{
    margin-left: -97%;
    padding: 10px;

  }
  
  .mb-3 input {
      padding-left: 40px;
      border: 1px solid #36cdaf;
      border-radius: 20px;
      background: rgba(216, 236, 204, 0.2);
      width: 60%;
      margin-top:20px;
    }
    
    #mb-3 {
      position: relative;
      margin-top: 10px;
      margin-left: 3%;
    }
    
    .mb-3 i {
      position: absolute;
      left: 7%;
      top: 51.5%;
      padding: 9px 8px;
      color: #0d382f;
    }
    
    .mb-3 input:focus + i {
      color: #59cd36;
    }
  .col-4{
    background-color: #cd7f36;
  }
  .follow2 {
    float: right;
    padding-right: 10px;
    color: white;
  }
  .s{
    margin-left: 25;
    margin-right: 25%;
  }
  #btn {
    color: white;
  }
  #btn {
    margin-top: 6px;
    background-color: #36cdaf;
    width: 100%;
    border-radius: 20px;
    margin-left: 15%;
    font-weight: bold;
    margin-top: 26%;
    margin-bottom: 7px;
  }

  #btnpost{
    color: white;
  }

  #btnpost{
    background-color: #36cdaf;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }

  #btnpost1{
    background-color: #36cdaf;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .follow {
    float: left;
    padding-right: 10px;
    
  }
  
  .follow1 {
    padding-right: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 9px;

  }
  
  .pp {
    background: rgba(216, 236, 204, 0.4);
    height: 40%;
    width: 100%;
    border-radius: 20px;
    // text-align: center;
    // float: left;
    display: inline-block;
    padding: 5px;
  }
  .prof {
    background: rgba(216, 236, 204, 0.4);
    height: 40%;
    width: 100%;
    border-radius: 20px;
    // text-align: center;
    // margin-left: 10px;
    display: inline-block;
    padding: 5px;

  }

  .cap{
    text-align: left;
  }
  .send{
    margin-top: 10px;
  }

  .profpost{
    width: 100%;
    height: 200px;
  }

  
  .ppp {
    background: rgba(216, 236, 204, 0.4);
    height: 30%;
    width: 100%;
    border-radius: 20px;
    // text-align: center;
    // float: left;
    display: inline-block;
    margin-top: 10px;
  }
  
  .pp2 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    // margin-left: 40px;
  }
  
  .hea {
    text-align: center;
    padding: 10px;
  }
  
  .uname {
    text-align: left;
    // padding: 0px;
    margin-top: 30px;
    font-size:20px;
    font-weight: bold;
    // margin-left: 36%;
    // margin-bottom: 10%;
  }
  .dev{
    margin-bottom: 20px;
  }
  .postcard mat-card{
    margin-top: 30px;
    width: 100%;
    margin-bottom: 30px;
}
mat-card{
  background-color: #E8F4E1;
}

.stat{
  margin-left: 18px;
}

#cardpost{
  margin-bottom: 20px;
}

#file{
  visibility: hidden;
  flex-direction: column;
}
h2{
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  font-size: 30px;
}

.b{
  width: 5px;
}



  // @media (max-width: 470px) {
  //   .uname {
  //     text-align: center;
  //     padding: 10px;
  //     margin-top: -25%;
  //     font-size: 20px;
  //     font-weight: bold;
  //     margin-left: 22%;
  //   }
  
  //   .pp2 {
  //     width: 30%;
  //     height: 30%;
  //     border-radius: 100%;
  //     margin-top: 10%;
  //   }
  // }
  
  // @media (min-width: 471px) and (max-width: 996px) {
  //   .uname {
  //     padding: 0px;
  //     margin-top: -19%;
  //     font-size: 35px;
  //     font-weight: bold;
  //     margin-left: 20%;
  //   }
  
  //   .pp2 {
  //     width: 30%;
  //     height: 30%;
  //     border-radius: 100%;
  //     margin: 15px 15px 15px 15px;
  //   }
  // }
  
  // @media (min-width: 250px) and (max-width: 361px) {
  //   .uname {
  //     text-align: center;
  //     padding: 10px;
  //     margin-top: -42%;
  //     font-size: 15px;
  //     font-weight: bold;
  //     margin-left: 30%;
  //   }
  //   .pp2 {
  //     width: 30%;
  //     height: 30%;
  //     border-radius: 100%;
  //     margin-bottom: 20%;
  //   }
  // }
  
  // @media (min-width: 768px) {
  //   #icon {
  //     visibility: hidden;
  //   }
  // }
  
  // @media (min-width: 280px) and (max-width: 450px) {
  //   .follow1 {
  //     padding-right: 20px;
  //     margin-top: 20px;
  //     font-weight: bold;
  //     font-size: 58%;
  //   }
  
  //   .btn {
  //     margin-top: 9%;
  //     height: 10%;
  //     background-color: #36cdaf;
  //     width: 90%;
  //     border-radius: 20px;
  //     margin-left: 50%;
  //     font-weight: bold;
  //     margin-top: 18%;
  //   }
  // }
  