.number {
    padding-left: 20px;
    text-decoration: none;
    color: #36cdaf;
  }

  #space{
    margin-bottom: 20px;
  }

  #post1{
    gap: 1rem;
    margin-bottom: 10px;
  }

 
  #cents
  {
    font-size: medium;
  }
  #cent
  {
    font-size: medium;
  }
    
  .postHead{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

    #mb-3 {
      position: relative;
      margin-top: 10px;
      margin-left: 3%;
    }
    
  
  .follow2 {
    float: right;
    padding-right: 10px;
  }

  #btnpost{
    background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: -7px;
    color:white ;
  }

  #btnpost1{
    background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
  }
  .btn
  {
    background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
  }
  
  .follow {
    float: left;
    padding-right: 10px;
  }
  
  .follow1 {
    padding-right: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 9px;
  }
  
  .pp {
    background: rgba(216, 236, 204, 0.4);
    height: 40%;
    width: 100%;
    border-radius: 20px;
    // text-align: center;
    // float: left;
    display: inline-block;
    padding: 5px;
  }
  .prof {
    background: rgba(216, 236, 204, 0.4);
    height: 40%;
    width: 100%;
    border-radius: 20px;
    // text-align: center;
    // margin-left: 10px;
    display: inline-block;
    padding: 5px;

  }

  .send{
    margin-top: 10px;
    padding: 0;
  }

  .profpost{
    width: 100%;
    height: 200px;
   box-shadow: 0px 2px 2px rgba(0, 0, 10, 10);
  //border-radius: 5%;
  margin-top: 0px;
  padding: 0px;
  }
.h3{
  text-align: center;
}
#cards{
    width: 100%;
    justify-content: center;
    padding-top: 20px;
  }

    
.pp {
  height: 70%;
  width: 100%;
  border-radius: 20px;
  // text-align: center;
  // float: left;
  display: inline-block;
  padding: 5px;
}
  .ppp {
  //  background: rgba(216, 236, 204, 0.4);
    height: 30%;
    width: 100%;
    border-radius: 20px;
    // text-align: center;
    // float: left;
    display: inline-block;
    margin-top: 10px;
  }
  
  .pp2 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    // margin-left: 40px;
  }
  
  .hea {
    text-align: center;
    padding: 10px;
  }
  
  .uname {
    text-align: center;
    // padding: 0px;
    margin-top: 30px;
    font-size:20px;
    // font-weight: bold;
    margin-left: 36%;
    // margin-bottom: 10%;
  }
  

  
