<app-navbar></app-navbar>

<!--loader-->
<ng-http-loader
  [backdrop]="true"
  [backgroundColor]="'purple'"
  [debounceDelay]="100"
  [extraDuration]="300"
  [minDuration]="300"
  [spinner]="spinnerStyle.skChasingDots"
>
</ng-http-loader>
<!-- end loader -->

<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center ppc"
  data-theme="night"
>
  <div class="card w-96 bg-base-100 shadow-xl" id="cards">
    <div class="avatar justify-center" id="avatar">
      <div *ngIf="img != null" class="w-24 rounded-full">
        <img src="{{img}}" />
      </div>
      <div *ngIf="img == null" class="w-24 rounded-full">
        <img src="../../../assets/Profile.jpeg" />
      </div>
    </div>

    <div class="card-body">
      <h2 class="card-title justify-center">{{ name | uppercase }}</h2>
    </div>
  </div>
</div>

<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center ppc"
>
  <div
    class="ontainer-sm container-md container-lg container-xl align-content-center ppp"
  >
    <div class="flex justify-between ..." id="space">
      <div>
        <p class="follow1 col-start-3 col-end-5" id="cent">
          Followers <a class="number">{{ numberOfFollowers }}</a>
        </p>
      </div>
      <div>
        <p class="follow1 col-start-5 col-end-7" id="cent">
          Following <a class="number">{{ numberOfFollowing }}</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="col-auto container-sm container-md container-lg container-xl align-content-center ppm"
>
  <div
    class="col-auto container-sm container-md container-lg container-xl align-content-center send"
  >
    <div class="row">
      <div class="col-6">
        <button class="btn btn-sm col-start-3 col-end-4" id="btnpost" (click)="unfollow()" *ngIf="followBool === true;">
        {{option}}
        </button>
        <button class="btn btn-sm col-start-3 col-end-4" id="btnpost" (click)="followUser()" *ngIf="followBool === false;">
         {{option}}
        </button>
      </div>
      <div class="col-6">
        <button class="btn btn-sm col-start-6 col-end-7" id="btnpost">
          Message
        </button>
      </div>
    </div>
  </div>

  <div
    class="col-auto container-sm container-md container-lg container-xl align-content-center send"
  >
    <div class="content">
      <h2 class="postHead">Posts</h2>
      <div fxLayout="row wrap"  fxLayoutGap="1%">
        <div
          class="card lg:card-side bg-base-100 shadow-xl outline"
          id="post1"
          fxFlex="49%"
          fxFlex.xs="100%"
          fxFlex.sm="49%"
          
          *ngFor="let posts of imgpost; let postNum = index"
        >
          <figure *ngIf="posts.image != null">
            <img src="{{ posts.image }}" width="100%" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">{{titleCaseWord(posts.name) }}</h2>
            <div class="badge badge-secondary">
              {{ transform(posts.date) }}
            </div>
            <p id="caption">{{ posts.caption }}</p>
            <div class="card-actions justify-end pb-1">
            </div>
          </div>
        </div>
        <hr>
      </div>
      
    </div>
  </div>
</div>
