 
.center {
    width: 100%;
    padding: 10px;
  }
  
  .pp2 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    // margin-left: 40px;
  }

  #row{
    background-color: #D8ECCC;
    border-radius: 20px;
  }

  #btn{
    background-color: #36cdaf;
    color: white;
    width: 150px;
    height: 50px;
    margin-top: -50px;
    border-radius: 50px;
    font-weight: bold;
    margin-left: 120px;
    margin-left: 40%;
}

  .uname {
    text-align: left;
    // padding: 0px;
    margin-top: 2px;
    font-size:20px;
    // font-weight: bold;
    margin-left: 11%;
    // margin-bottom: 10%;
  }

  .mb-3 input {
    padding-left: 40px;
    border: 1px solid #36cdaf;
    border-radius: 20px;
    background: rgba(216, 236, 204, 0.2);
  }
  
  .mb-3 {
    position: relative;
    text-align: center;
    width: 100%;
   

    
  }
  
  .mb-3 i {
    position: absolute;
    left: 5px;
    top: 8px;
    padding: 9px 8px;
    color: #0d382f;
  }


  h6{
      padding-bottom: 3%;
  }
  

  
#storyholder{
    width: 100%;
    padding: 10px;
    text-align: center;
}

#postholder{

  height: 5000px;
  width: 70%;
  margin: auto;
  padding: 10px;
  text-align: center;
}


#cardbody{
    border-radius: 2%;
    background-color: rgb(233, 248, 224);
    width: 100%;
}


// USER PROFILE CARDS

.userprofilecard{
    width: 100%;
    margin: auto;
    padding: 10px;
}

.profilepicture{
    background-color: #0d382f;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #36cdaf;
    flex-direction: row;
}

.displaypic{
    border-radius: 50%;
}

.imag{
        margin-bottom: 70%;
}

.userdetail{

    width: 100%;
}

.followbtn{
        
        background-color: #36cdaf;
        border-radius: 10%;
        border: none;
        width: 100px;
        height: 10%;
}


