<app-navbar></app-navbar>

<!-- THIS IS WHERE STORIES WOULD GO -->
<div
  class="align-content-center container-sm container-md container-lg container-xl align-content-center pp"
>
  <!-- <div class="card-header">Header</div> -->
  <div class="card-body">
    <h1 class="card-title">Users</h1>
    <p class="card-text"></p>
  </div>

  <!-- 
<div class="userprofilecard">

    <div class="card text-center">

        <mat-card class="card-body" id="cardbodyd">
            <div class="profilepicture">
                      <img class="displaypic" src="https://res.cloudinary.com/dadevelopers/image/upload/v1656276676/profile/hd7so6ee6c2yahhjx63s.jpg" width="100px" height="100px">
            </div>
            
          
          <div class="userdetail">
            <h5 class="card-title">User Name</h5>
            <p class="card-text">User@gmail.com</p>
            <button type="button" class="followbtn">follow</button>
          </div>
            
        </mat-card>
        
      </div>
</div>


  </div>
</div> -->

  <div
    class="align-content-center container-sm container-md container-lg container-xl align-content-center pp"
  >
    <h2 class="sug">Friends</h2>
    <mat-card *ngFor="let Friends of followe; let num = index" id="row">
      <br />
      <mat-card-header></mat-card-header>

      <mat-card-content>
        <div class="alert">
          <label tabindex="0" class="btn btn-circle avatar">
            <div class="w-15 rounded-full">
              <img src="https://placeimg.com/80/80/people" />
            </div>
          </label>
          <div class="uname">
            <p>{{ Friends.name }}</p>
          </div>

          <div class="flex-none">
            <button class="btn" (click)="unfollow(num)">unfollow</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <h2 class="sug">Suggested users</h2>
    <div>
      <br />
      <mat-card
        *ngFor="let user of suggestedNameID; let index = index"
        id="row"
      >
        <mat-card-header> </mat-card-header>
        <mat-card-content>
          <div class="alert">
            <div >
              <label tabindex="0" class="btn btn-circle avatar">
                <div class="w-15 rounded-full">
                  <img src="https://placeimg.com/80/80/people" />
                </div>
              </label>
            </div>

            <div>
              <p class="uname">{{ user.name }}</p>
            </div>

            <div class="flex-none" >
              <button class="btn" (click)="followUsers(index)">
                Follow
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
