<app-navbar></app-navbar>

<!-- THIS IS WHERE STORIES WOULD GO -->
<div
class="align-content-center container-sm container-md container-lg container-xl align-content-center pp"
>
  <!-- <div class="card-header">Header</div> -->
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>



<div class="userprofilecard">
  <!-- POST CARD 1 -->
    <div class="card text-center">

        <div class="card-body">
            <div class="profilepicture">
                      <img class="displaypic" src="https://res.cloudinary.com/dadevelopers/image/upload/v1656276676/profile/hd7so6ee6c2yahhjx63s.jpg" width="100px" height="100px">
            </div>
            
          
          <div class="userdetail">
            <h5 class="card-title">User Name</h5>
            <p class="card-text">User@gmail.com</p>
            <button type="button" class="followbtn">follow</button>
          </div>
            
        </div>
        
      </div>
</div>


  </div>
</div>

<div
class="align-content-center container-sm container-md container-lg container-xl align-content-center pp"
>
<h2>Friends</h2>
  <mat-card id="row">
    <mat-card-header>
      
    </mat-card-header>
    <mat-card-content>
      <div class="row justify-content-center">
        <div class="col-4">
          <img
            class="pp2"
            src="https://res.cloudinary.com/dadevelopers/image/upload/v1656276676/profile/hd7so6ee6c2yahhjx63s.jpg"
            alt="none"
          />
        </div>

        <div class="col-8">
          <p class="uname">Belco Sambo</p>
        </div>

        <div class="row">
          <button class="btn" id="btn">Follow</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>