<app-navbar></app-navbar>


  <!-- THIS IS WHERE STORIES WOULD GO -->
  <div class="card bg-light mb-3" style="max-width: 100rem;" id="storyholder">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>


      



    </div>
  </div>

<div class="center">
   <!-- THIS IS WHERE YOU WRITE A POST -->

   
    <form class="form-group">
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="exampleInputText1"
          placeholder="Post"
          required

          
        />
        <i class="fa-solid fa-pencil fa-lg" aria-hidden="true"></i>
      </div> 

      <!-- THIS IS A POST BUTTON -->
      <button type="button" class="btn">
        <i class="fa-solid fa-paper-plane fa-lg" aria-hidden="true"></i>
      </button>
    </form>
</div>

 <!-- THIS HERE DOWNWARD IS A CARD THAT WILL HOLD ALL POSTS -->

 <div class="card bg-light mb-3" style="max-width: 50rem;" id="postholder">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>



<div class="userprofilecard">
  <!-- POST CARD 1 -->
    <div class="card text-center">

        <div class="card-body">
            <div class="profilepicture">

            </div>
          
          <div class="userdetail">
            <h5 class="card-title">User Name</h5>
            <p class="card-text">User@gmail.com</p>
            <button type="button" class="followbtn">follow</button>
          </div>
            
        </div>
        
      </div>
</div>
  </div>
</div>

