 
.center {
    width: 100%;
    padding: 10px;
  }
  
  .sug{
    padding-top: 20px;
  }
  .pp2 {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    // margin-left: 40px;
  }

  #row{
   // background-color: rgb(115, 42, 42);
    border-radius: 20px;
  }

  #btn{
    background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
    color: white;
    width: 100px;
    height: 40px;
    margin-top: 15px;
    border-radius: 50px;
    font-weight: bold;
    // margin-left: 120px;
    margin-left: 0;
}
.btn{
  background: linear-gradient(90deg, rgba(172,52,137,1) 6%, rgba(183,49,223,1) 82%);
}

  .name {
    width: 100%;
    //text-align: left;
    // padding: 0px;
    margin-top:20px;
   font: size 19px;
    // font-weight: bold;
   // margin-left: 10%;
    margin-bottom: 10%;
  }

  .mb-3 input {
    padding-left: 40px;
    border: 1px solid #36cdaf;
    border-radius: 20px;
   // background: rgba(216, 236, 204, 0.2);
  }
  
  .mb-3 {
    position: relative;
    text-align: center;
    width: 100%;
   

    
  }
  
  .mb-3 i {
    position: absolute;
    left: 5px;
    top: 8px;
    padding: 9px 8px;
    color: #0d382f;
  }


  h6{
      padding-bottom: 3%;
  }

.p{
  font-size: 20;
}
// .pp{
//   //background-color: #36cdaf;
// }



