* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.pp {
  background-color: black;
  height: 50%;
  width: 10%;
  margin-left: 10%;
  margin-top: 3%;
  border-radius: 100%;
}


.pp2 {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.profile {
  position: absolute;
  width: 90%;
  height: 15%;
  left: 5%;
  top: 12%;

  background: rgba(188, 241, 157, 0.534);
  border-radius: 60px;
}

// .list {
//   margin-left: 20%;
// }

.checkbtn {
  margin-left: 92%;
}
#try {
  margin-top: 23%;
}

nav {
  background-color: rgb(255, 255, 255);
  // height: 120px;
  // width: 100%;
  box-shadow: 0 0 10px springgreen;
}

nav ul {
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background-color: aliceblue;
  transition: 0.5s;
}

#checkbtn {
  display: none;
}

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }

  .pp {
    background-color: black;
    height: 50%;
    width: 20%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 100%;
  }

  .pp2 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

 
}

@media (max-width: 820px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(202, 232, 214, 0.476);
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    background: none;
    color: aquamarine;
  }

  #checkbtn:checked ~ ul {
    left: 0;
  }

  section {
    background-color: black;
  }

  .pp {
    background-color: black;
    height: 50%;
    width: 22%;
    margin-left: 10%;
    margin-top: 6%;
    border-radius: 100%;
  }

  .pp2 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}

@media (max-width: 450px) {
  .checkbtn {
    display: block;
  }

  .profile {
    margin-top: 1%;
  }

  #try {
    margin-left: -40%;
    margin-top: 54%;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(124, 205, 182, 0.693);
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a.active,
  a:hover {
    background: none;
    color: aquamarine;
  }

  #checkbtn:checked ~ ul {
    left: 0;
  }

  .pp {
    background-color: black;
    height: 50%;
    width: 20%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 100%;
  }

  .pp2 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}

@media (min-width: 857px) {
  nav ul li {
    display: inline-block;
    margin-top: -100%;
    line-height: 10px;
  }

 
  nav ul li a {
    font-size: 15px;
    margin-top: -5%;
  }

  #checkbtn {
    margin-top: -50%;
    visibility: hidden;
  }

  .checkbtn {
    visibility: hidden;
    margin-top: -50%;
  }

  .pp {
    background-color: black;
    height: 70%;
    width: 10%;
    margin-left: 10%;
    margin-top: 1.5%;
    border-radius: 100%;
  }

  .pp2 {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  .profile{
    margin-top: 10%;
  }
}
